Library/
Assets/App Mechanic.meta
Assets/CalendarSchedulerUI.meta
Assets/InGameCodeEditor.meta
Assets/NetCheckout.meta
Assets/SimpleFileBrowserForWebGL.meta
Assets/SimpleSignIn.meta
Assets/stripe_redirect.html
Assets/stripe_redirect.html.meta
Assets/UI Color Picker.meta
Assets/VolumetricLines.meta
Assets/App Mechanic/
Assets/CalendarSchedulerUI/
Assets/Editor Default Resources/crosstales/
Assets/InGameCodeEditor/
Assets/NetCheckout/
Assets/Plugins/crosstales/
Assets/SimpleFileBrowserForWebGL/
Assets/SimpleSignIn/
Assets/TutorialInfo/
Assets/UI Color Picker/
Temp/
.vs/
Assets/WorkflowSimulator/Libraries/yourvrxp-utils/Examples/ScreenController/Editor/3DModels/Graphics/Sport Car - 3D model/Flares.meta
Assets/WorkflowSimulator/Libraries/yourvrxp-utils/Examples/ScreenController/Editor/3DModels/Graphics/Sport Car - 3D model/
Assets/WorkflowSimulator/Libraries/yourvrxp-vr/Resources/vr cartoon hand/
3rd Party/CalendarSchedulerUI_Scripts.zip
3rd Party/ColorPicker Scripts.zip
3rd Party/DateTimePicker Scripts.zip
